@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-hero {
  animation: increaseSize 2s ease-in-out;
}

@keyframes increaseSize {
  0% {
    transform: scale(0.5); /* Initial size */
  }
  100% {
    transform: scale(1); /* Final size, adjust as needed */
  }
}
