@tailwind base;
@tailwind components;
@tailwind utilities;

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 25px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s;
  border-radius: 9999px;
}

.slider:before {
  content: '';
  height: 21px;
  width: 21px;
  top: 1px;
  right: 1px;
  left: 1px;
  position: absolute;
  background-color: white;
  transition: transform 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  transform: translateX(18px);
}
